<!--<form class="px-4 d-flex flex-column h-100 justify-content-center" >-->
<!--    <input type="file" (change)="onFileSelected($event)" accept=".mp3">-->
<!--    <button (click)="onSubmit()" type="button">Upload</button>-->

<!--    <input #input type="text" placeholder="Enter file name">-->
<!--    <button (click)="getTrack(input.value)" type="button">Play</button>-->
<!--    <audio *ngIf="audioBlobUrl" controls>-->
<!--        <source [src]="audioBlobUrl" type="audio/mpeg">-->
<!--    </audio>-->
<!--    <div *ngIf="errorMessage">{{ errorMessage }}</div>-->
<!--</form>-->

<div class="h-50px position-fixed">
  <div class="w-50px h-50px d-flex justify-content-center align-items-center">
    <i [ngClass]="isDarkMode ? 'bi-brightness-low-fill f-36' : 'bi-moon-fill f-28'"
       (click)="toggleMode()"
       class="bi"></i>
  </div>
</div>
<div @fade @glide class="d-flex flex-column align-items-center w-100">
  <i class="bi bi-file-earmark-music-fill f-80 mt-5"></i>
  <div class="f-24 f-sm-16 fw-700 col-6 text-center my-2">Sound Trackdle</div>
  <i (click)="isGuide = !isGuide" class="bi bi-info-circle text-blue my-1 pointer"></i>
  <p *ngIf="isGuide" @fade @glide class="col-10 col-sm-5 text-center f-14 f-sm-12 text-blue">Every day a soundtrack will be given, you need to guess djhf dsfjh sdjh
  kjshdf kjshd kjshd fkjhsd kjfnfn4nflksdn veliudhjv bdk dlidefh f3roud jdnfdlj</p>
  <div class="d-flex flex-wrap col-12 col-sm-6">
    <div @fade @glide *ngFor="let hint of hints;" class="d-flex justify-content-start">
      <i class="bi bi-lightbulb-fill text-yellow mx-2"></i>
      <span class="fw-700">{{ hint }}</span>
    </div>
  </div>
  <audio *ngIf="audioBlobUrl" controls>
    <source [src]="audioBlobUrl" type="audio/mpeg">
  </audio>
  <div *ngIf="isLost">No more guesses! the word was <span class="fw-700 f-24 text-red">{{ 'put here the currect answer' }}!</span> better luck next time.</div>
  <mat-form-field class="example-full-width">
    <input type="text"
           #input
           placeholder="I know!"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let movie of filteredOptions | async" [value]="movie.name">
        {{ movie.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button type="submit" (click)="submit(input)">Go!</button>


  <div *ngIf="isSuccess" [ngClass]="isSuccess ? 'many-confetti' : ''">
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
  </div>
  <h3 *ngIf="isSuccess" class="text-green">Wow! good job!</h3>
</div>
