<button class="action-btn" *ngIf="!isAdmin" (click)="isForm = !isForm">login</button>
<button class="action-btn" *ngIf="isAdmin" (click)="logout()">logout</button>
<form *ngIf="isForm" class="d-flex">
   <title>Login</title>
  <p>user name</p>
  <input class="h-50" #username>
  <p>password</p>
   <input class="h-50" #password type="password">
  <button class="h-50" (click)="login(username.value, password.value)" type="button">submit</button>
</form>
<form *ngIf="isAdmin" class="px-4 d-flex flex-column h-100 justify-content-center" >
  <input type="file" (change)="onFileSelected($event)" accept=".mp3">
  <button (click)="onSubmit()" type="button">Upload</button>
</form>

<div class="h-50px position-fixed">
  <div class="w-50px h-50px d-flex justify-content-center align-items-center">
    <i [ngClass]="isDarkMode ? 'bi-brightness-low-fill f-36' : 'bi-moon-fill f-28'"
       (click)="toggleMode()"
       class="bi"></i>
  </div>
</div>
<div @fade @glide class="d-flex flex-column align-items-center w-100">
  <i class="bi bi-file-earmark-music-fill f-80 mt-5"></i>
  <div class="f-24 f-sm-16 fw-700 col-6 text-center my-2">Sound Trackdle</div>
  <i (click)="isGuide = !isGuide" class="bi bi-info-circle text-blue my-1 pointer"></i>
  <p *ngIf="isGuide" @fade @glide class="col-10 col-sm-5 text-center f-14 f-sm-12 text-blue">Every day a different soundtrack from a movie will be provided,
  you need to guess what is the movie this soundtrack is from. you have 3 guesses. for each failure you'll be given a hint.</p>
  <div class="d-flex flex-wrap col-12 col-sm-6 col-md-4 justify-content-center">
    <div @fade @glide *ngFor="let hint of hints;" class="d-flex flex-column align-items-center">
      <i class="bi bi-lightbulb-fill text-yellow mx-2"></i>
      <span class="fw-500 text-center">{{ hint }}</span>
    </div>
  </div>
  <audio @fade *ngIf="audioBlobUrl" class="my-2" controls>
    <source [src]="audioBlobUrl" type="audio/mpeg">
  </audio>
  <div @fade *ngIf="isLoading" class="spinner-border" [ngClass]="!isDarkMode ? 'text-dark': 'text-light'" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div *ngIf="isLost && file.name">No more guesses! the movie was <span class="fw-700 f-24 text-red">{{ file.name + '!' | titlecase }}</span> better luck next time.</div>
  <div class="d-flex">
    <input (focus)="focusInput()"
           placeholder="Guess the movie"
           type="text"
           [matAutocomplete]="auto"
           [formControl]="myControl"
           #input>
    <i class="bi"></i>
  </div>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onMovieSelected($event.option.value, input)">
      <mat-option *ngFor="let movie of filteredOptions | async" [value]="movie.id">
        {{ movie.name }}
      </mat-option>
    </mat-autocomplete>

  <div *ngIf="isSuccess" [ngClass]="isSuccess ? 'many-confetti' : ''">
    <div class="confetti"></div><div class="confetti"></div><div class="confetti"></div><div class="confetti"></div>
    <div class="confetti"></div><div class="confetti"></div><div class="confetti"></div><div class="confetti"></div>
    <div class="confetti"></div>
  </div>
  <h3 *ngIf="isSuccess" class="text-green">Wow! good job!</h3>
  <button class="button-layout" (click)="getRecentFiles()">Play recent challenges</button>
  <div class="d-flex flex-column flex-wrap card-wrapper my-2" @fade @glide *ngIf="files?.length">
    <div class="m-2" *ngFor="let file of files">
      <div class="pointer" (click)="getFile(file.id)">
        <i class="bi bi-film mx-1"></i>
        <i class="f-14 mx-1">{{ file.played_at }}</i>
      </div>
    </div>
  </div>
</div>
