@import '../../../styles.scss';

.action-btn {
  position: absolute;
  bottom: 10px;
}

.bi-check-lg {
  color: $green;
}

.bi-exclamation-lg {
  color: $red;
  animation: wiggle 10 100ms;
}

.bi-exclamation-lg, .bi-check-lg {
  top: 20px;
  font-size: 25px;
  position: relative;
  right: 15px;
  width: 0;
}

.bi-brightness-low-fill {
  cursor: pointer;
  transition: color ease 200ms;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $blue !important;
    }
  }
}

.bi-moon-fill {
  cursor: pointer;
  transition: color ease 200ms;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $blue !important;
    }
  }
}

.hold-button {
  overflow: hidden;
  position: relative;
  width: 40%;
}

.hold-button::before {
  content: '';
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(
      40deg,
      $light-yellow,
      $light-yellow 10px,
      $light-red 10px,
      $light-red 20px
  );
  opacity: 90%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1s linear;
}

.hold-button.holding {
  width: 60%;
}

.hold-button.holding::before {
  transform: scaleX(1);
}

.hold-button:not(.holding)::before {
  transition: transform 0.3s linear;
}

.ring {
  animation: ringNBeat 1.5s 5;
}

.beat {
  animation: Beat 1s 5;
}

.merge-with-select {
  outline: none !important;
  border-radius: 25px 25px 0 0 !important;
}

@keyframes Beat {
  10% { transform: scale(1.05) }
  13% {  transform: scale(1) }
  16% { transform: scale(1) }
  19% {  transform: scale(1) }
  22% {  transform: scale(1)}
  25% {  transform: scale(1.05) }
  100% {  transform: scale(1)}
}

@keyframes ringNBeat {
  10% { rotate: 1deg; transform: scale(1.1) translateX(2px) }
  13% { rotate: -1deg; transform: scale(1.1) translateX(-2px) }
  16% { rotate: 1deg; transform: scale(1.1) translateX(2px) }
  19% { rotate: -1deg; transform: scale(1.1) translateX(-2px) }
  22% { rotate: -1deg; transform: scale(1.1) translateX(2px) }
  25% { rotate: -1deg; transform: scale(1.1) translateX(-2px) }
  28% { rotate: -1deg; transform: scale(1.1) translateX(2px) }
  31% { rotate: 0deg }
}

@keyframes tiny-wiggle {
  10% {
    rotate: 1deg
  }
  100% {
    rotate: -1deg
  }
}

@keyframes wiggle {
  10% {
    rotate: 3deg
  }
  100% {
    rotate: -3deg
  }
}

@media (max-width: 512px) {
  input {
    padding-left: 5px;
  }
  input::placeholder {
    font-size: 12px;
  }
}
