<button class="action-btn" *ngIf="isAdmin" (click)="logout()">logout</button>
<form class="d-flex flex-column flex-wrap">
  <p>user name</p>
  <input class="h-50" #username>
  <p>password</p>
  <input class="h-50" #password type="password">
  <button class="h-50" (click)="login(username.value, password.value)" type="button">submit</button>
</form>
<form *ngIf="isAdmin" class="px-4 d-flex flex-column h-100 justify-content-center" >
  <input type="file" (change)="onFileSelected($event)" accept=".zip,.mp3" multiple>
  <button (click)="upload()" type="button">Upload</button>
  <button (click)="massDelete()" type="button">Mass delete</button>
  <button (click)="fileIndex()" type="button">print file index</button>
</form>
